<!--    <div class="text-center mb-5" data-aos="fade-down" data-aos-duration="1000">-->
<!--      <img class="mw-25 mh-25" style="height: 100px; width: auto;" src="../../../assets/img/TripMate.jpg" >-->
<!--    </div>-->
    <form id="login-form" class="form" #registerForm="ngForm" (ngSubmit)="OnSubmit(registerForm)">
<!--      <h2 class="text-center mb-5 text-dark">Rejestracja</h2><br>-->

      <div *ngIf="isRegisterError" class="row justify-content-center align-items-center">
        <div class="alert alert-warning">
          Użytkownik już istnieje.
        </div>
      </div>

      <div id="login-row" class="row justify-content-center align-items-top">
        <div id="login-column" class="text-center col-md-10 mr-10">
          <h3>Dane pracownika</h3><br>
          <mat-form-field>
            <label for="name" class="text-primary">Imię:</label>
            <input matInput type="name" name="name" id="name" #name="ngModel" [(ngModel)]="user.name">
          </mat-form-field>
          <mat-form-field>
            <label for="surname" class="text-primary">Nazwisko:</label>
            <input matInput type="surname" name="surname" id="surname" #surname="ngModel" [(ngModel)]="user.surname">
          </mat-form-field>
          <mat-form-field>
            <label for="rule" class="text-primary">Rola:</label>
              <mat-select id="rule" *ngIf="rules" required [(ngModel)]="user.rule" name="rule">
                <mat-option *ngFor="let rule of rules" [value]="rule._id">
                  {{rule.name}}
                </mat-option>
              </mat-select>
          </mat-form-field>
          <mat-form-field>
            <label for="phone" class="text-primary">Telefon:</label>
            <input matInput type="text" name="phone" id="phone" #phone="ngModel" [(ngModel)]="user.phone">
<!--            <input matInput type="text" name="phone" id="phone" class="validate" #phone="ngModel" [(ngModel)]="user.phone" required [pattern]="phonePattern">-->
<!--            <label *ngIf="phone.invalid && (phone.dirty || phone.touched)" class="alert alert-warning" data-error="">Niepoprawny numer telefonu.</label>-->
          </mat-form-field>
          <mat-form-field>
            <label for="email" class="text-primary">Email:</label>
            <input matInput type="email" name="email" id="email" #email="ngModel" [(ngModel)]="user.email">
<!--            <input type="email" name="email" id="email" class="form-control validate" #email="ngModel" [(ngModel)]="user.email" required [pattern]="emailPattern">-->
<!--            <label *ngIf="email.invalid && (email.dirty || email.touched)" class="alert alert-warning mt-3 p-2" data-error="">Niepoprawny email.</label>-->
          </mat-form-field>
          <mat-form-field>
            <label for="password" class="text-primary">Hasło:</label>
            <input matInput type="password" name="password" id="password" #password="ngModel" [(ngModel)]="user.password">
<!--            <input type="password" name="password" id="password" class="form-control validate" #password="ngModel" [(ngModel)]="user.password" required [pattern]="passwordPattern">-->
<!--            <label *ngIf="password.invalid && (password.dirty || password.touched)" class="alert alert-warning mt-3 p-2" data-error="">Hasło musi zawierać minimum 5-20 znaków, dużą i małą literę oraz cyfrę.</label>-->
          </mat-form-field>


<!--          <div class="form-group">-->
<!--            <label for="name" class="text-primary">Imię:</label>-->
<!--            <input matInput type="name" name="name" id="name" class="form-control" #name="ngModel" [(ngModel)]="user.name">-->
<!--          </div>-->
<!--          <div class="form-group">-->
<!--            <label for="surname" class="text-primary">Nazwisko:</label>-->
<!--            <input type="surname" name="surname" id="surname" class="form-control" #surname="ngModel" [(ngModel)]="user.surname">-->
<!--          </div>-->
<!--          <div class="form-group text-primary">-->
<!--            <label for="rule" class="text-primary">Rola:</label>-->
<!--            <select class="form-control validate" id="rule" *ngIf="rules" required [(ngModel)]="user.rule" name="gender">-->
<!--              <option *ngFor="let rule of rules" [value]="rule.name">{{rule.name}}</option>-->
<!--            </select>-->
<!--          </div>-->
<!--          <div class="form-group">-->
<!--            <label for="phone" class="text-primary">Telefon:</label>-->
<!--            <input type="text" name="phone" id="phone" class="form-control validate" #phone="ngModel" [(ngModel)]="user.phone" required [pattern]="phonePattern">-->
<!--            <label *ngIf="phone.invalid && (phone.dirty || phone.touched)" class="alert alert-warning mt-3 p-2" data-error="">Niepoprawny numer telefonu.</label>-->
<!--          </div>-->
<!--          <div class="form-group">-->
<!--            <label for="email" class="text-primary">Email:</label>-->
<!--            <input type="email" name="email" id="email" class="form-control validate" #email="ngModel" [(ngModel)]="user.email" required [pattern]="emailPattern">-->
<!--            <label *ngIf="email.invalid && (email.dirty || email.touched)" class="alert alert-warning mt-3 p-2" data-error="">Niepoprawny email.</label>-->
<!--          </div>-->
<!--          <div class="form-group">-->
<!--            <label for="password" class="text-primary">Hasło:</label>-->
<!--            <input type="password" name="password" id="password" class="form-control validate" #password="ngModel" [(ngModel)]="user.password" required [pattern]="passwordPattern">-->
<!--            <label *ngIf="password.invalid && (password.dirty || password.touched)" class="alert alert-warning mt-3 p-2" data-error="">Hasło musi zawierać minimum 5-20 znaków, dużą i małą literę oraz cyfrę.</label>-->
<!--          </div>-->
<!--          <div class="form-group">-->
<!--            <label for="repassword" class="text-primary">Powtórz hasło*:</label>-->
<!--            <input type="password" name="repassword" id="repassword" class="form-control validate" #repassword="ngModel" [(ngModel)]="user.repassword" required>-->
<!--            <label *ngIf="password.value !== repassword.value && (repassword.dirty || repassword.touched)"  class="alert alert-warning mt-3 p-2" data-error="">Hasła muszą do siebie pasować.</label>-->
<!--          </div>-->
        </div>

      </div>
      <div class="col-md-16 my-4 text-center ">
        <button [disabled]="!registerForm.valid" type="submit" class="btn btn-outline-primary">Dodaj pracownika</button>
      </div>
    </form>


<!--<div id="login" style="margin-top: 120px;">-->
<!--  <div class="container">-->
<!--&lt;!&ndash;    <div class="text-center mb-5" data-aos="fade-down" data-aos-duration="1000">&ndash;&gt;-->
<!--&lt;!&ndash;      <img class="mw-25 mh-25" style="height: 100px; width: auto;" src="../../../assets/img/logo/white_background.svg" >&ndash;&gt;-->
<!--&lt;!&ndash;    </div>&ndash;&gt;-->
<!--    <form id="login-form" class="form" #registerForm="ngForm" (ngSubmit)="OnSubmit(registerForm)">-->
<!--      <h2 class="text-center mb-5 text-dark">Rejestracja</h2><br>-->
<!--      <div *ngIf="isRegisterError" id="login-row" class="row justify-content-center align-items-center">-->
<!--        <div class="alert alert-warning">-->
<!--          Użytkownik już istnieje.-->
<!--        </div>-->
<!--      </div>-->
<!--      <div id="login-row" class="row justify-content-center align-items-top">-->

<!--        <div id="login-column" class="col-md-4 mr-4">-->
<!--          <h4 class="text-left text-active">Dane konta:</h4><br>-->
<!--          <div class="form-group">-->
<!--            <label for="email" class="text-primary">Email*:</label>-->
<!--            <input type="email" name="email" id="email" class="form-control validate" #email="ngModel" [(ngModel)]="user.email" required [pattern]="emailPattern">-->
<!--            <label *ngIf="email.invalid && (email.dirty || email.touched)" class="alert alert-warning mt-3 p-2" data-error="">Niepoprawny email.</label>-->
<!--          </div>-->
<!--          <div class="form-group">-->
<!--            <label for="password" class="text-primary">Hasło*:</label>-->
<!--            <input type="password" name="password" id="password" class="form-control validate" #password="ngModel" [(ngModel)]="user.password" required [pattern]="passwordPattern">-->
<!--            <label *ngIf="password.invalid && (password.dirty || password.touched)" class="alert alert-warning mt-3 p-2" data-error="">Hasło musi zawierać minimum 4-20 znaków, dużą i małą literę oraz cyfrę.</label>-->
<!--          </div>-->
<!--          <div class="form-group">-->
<!--            <label for="repassword" class="text-primary">Powtórz hasło*:</label>-->
<!--            <input type="password" name="repassword" id="repassword" class="form-control validate" #repassword="ngModel" [(ngModel)]="user.repassword" required>-->
<!--            <label *ngIf="password.value !== repassword.value && (repassword.dirty || repassword.touched)"  class="alert alert-warning mt-3 p-2" data-error="">Hasła muszą do siebie pasować.</label>-->
<!--          </div>-->
<!--        </div>-->

<!--        <div id="profile-column" class="col-md-4">-->
<!--          <h4 class="text-left text-active">Dane użytkownika:</h4><br>-->
<!--          <div class="form-group text-primary">-->
<!--            <label for="gender">Płeć: </label>-->
<!--            <select class="form-control validate" id="gender" *ngIf="genders" required [(ngModel)]="user.gender" name="gender">-->
<!--              <option *ngFor="let gender of genders" [value]="gender.gender">{{gender.name}}</option>-->
<!--            </select>-->
<!--          </div>-->
<!--          <div class="form-group">-->
<!--            <label for="age" class="text-primary">Wiek w latach:</label>-->
<!--            <input type="number" name="age" id="age" class="form-control validate" #age="ngModel" [(ngModel)]="user.age" required>-->
<!--          </div>-->
<!--          <div class="form-group">-->
<!--            <label for="weight" class="text-primary">Masa ciała w kg:</label>-->
<!--            <input type="number" name="weight" id="useweightname" class="form-control validate" #weight="ngModel" [(ngModel)]="user.weight" required>-->
<!--          </div>-->
<!--          <div class="form-group">-->
<!--            <label for="height" class="text-primary">Wzrost w cm:</label>-->
<!--            <input type="number" name="height" id="height" class="form-control validate" #height="ngModel" [(ngModel)]="user.height" required>-->
<!--          </div>-->
<!--          <div class="form-group text-primary">-->
<!--            <label for="id_activity_level">Aktywność fizyczna:</label>-->
<!--            <select class="form-control validate" id="id_activity_level" *ngIf="activity_level" required [(ngModel)]="user.id_activity_level" name="id_activity_level">-->
<!--              <option *ngFor="let activity of activity_level" [value]="activity.id_activity_level">{{activity.name}}</option>-->
<!--            </select>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->

<!--      <div class="col-md-16 my-4 text-center ">-->
<!--        <button [disabled]="!registerForm.valid" type="submit" class="btn btn-outline-primary">Zarejestruj się</button>-->
<!--      </div>-->
<!--    </form>-->
<!--  </div>-->
<!--</div>-->
