<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand">SportFreaks</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01"
          aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link js-scroll-trigger cursor-pointer" (click)="Logout()" role="button">Logout</a>
      </li>
    </ul>
  </div>
</nav>


<!-- buttons to navigate between days -->
<div class="row justify-content-center align-items-center my-4 mx-auto w-50">

  <div class="col-xs-2 page-item active">
    <button (click)="previousDay();" class="page-link">&laquo;</button>
  </div>
  <div class="col-xs-8 page-item">
    <!--    poprawić, żeby po kliknięciu wyświetlało cały kalendarz w wyborem danego dnia :-)-->
    <a class="page-link" href="#">{{dateService.getFormattedDate(selectedDate)}}</a>
  </div>
  <div class="col-xs-2 page-item active">
    <button (click)="nextDay();" class="page-link">&raquo;</button>
  </div>
</div>
<div class="row justify-content-center align-items-center my-4 mx-auto w-50">
  <table class="table table-striped table-hover">
    <thead>
    <tr>
      <th scope="col">Godzina</th>
      <th scope="col" style="width: 80%;">Lekcje</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <th scope="row">9:00</th>
      <th>
        <ng-template [ngIf]="lessons?.length > 0">
          <div *ngFor="let lesson of lessons">
            <div *ngIf="lesson.hour == 9">
              {{lesson.customerName}}, {{lesson.hour}}
            </div>
          </div>
        </ng-template>
      </th>
    </tr>
    <tr>
      <th scope="row">10:00</th>
      <th>
        <ng-template [ngIf]="lessons?.length > 0">
          <div *ngFor="let lesson of lessons">
            <div *ngIf="lesson.hour == 10">
              {{lesson.customerName}}, {{lesson.hour}}
            </div>
          </div>
        </ng-template>
      </th>
    </tr>
    <tr>
      <th scope="row">11:00</th>
      <th>
        <ng-template [ngIf]="lessons?.length > 0">
          <div *ngFor="let lesson of lessons">
            <div *ngIf="lesson.hour == 11">
              <p>{{lesson.customerName}} {{lesson.customerSurname}}</p>
              <p>Tel: {{lesson.phone}}</p>
            </div>
          </div>
        </ng-template>
      </th>
    </tr>
    <tr>
      <th scope="row">12:00</th>
      <th>
        <ng-template [ngIf]="lessons?.length > 0">
          <div *ngFor="let lesson of lessons">
            <div *ngIf="lesson.hour == 12">
              <div>{{lesson.customerName}} {{lesson.customerSurname}}<br>
              Tel: {{lesson.phone}}, ilość osób: {{lesson.customerQuantity}}<br>
                Wiek: {{lesson.customerAge}}
<!--                , opłacona: <ng-template *ngIf="lesson.isPaid; else elseBlock">Tak</ng-template>-->
<!--              <ng-template #elseBlock>Nie</ng-template>-->
              </div>
            </div>
          </div>
        </ng-template>
      </th>
    </tr>
    <tr>
      <th scope="row">13:00</th>
      <ng-template [ngIf]="lessons?.length > 0">
        <div *ngFor="let lesson of lessons">
          <div *ngIf="lesson.hour == 13">
            {{lesson.customerName}}, {{lesson.hour}}
          </div>
        </div>
      </ng-template>
    </tr>
    <tr>
      <th scope="row">14:00</th>
      <ng-template [ngIf]="lessons?.length > 0">
        <div *ngFor="let lesson of lessons">
          <div *ngIf="lesson.hour == 14">
            {{lesson.customerName}}, {{lesson.hour}}
          </div>
        </div>
      </ng-template>
    </tr>
    <tr>
      <th scope="row">15:00</th>
      <ng-template [ngIf]="lessons?.length > 0">
        <div *ngFor="let lesson of lessons">
          <div *ngIf="lesson.hour == 15">
            {{lesson.customerName}}, {{lesson.hour}}
          </div>
        </div>
      </ng-template>
    </tr>
    <tr>
      <th scope="row">16:00</th>
      <ng-template [ngIf]="lessons?.length > 0">
        <div *ngFor="let lesson of lessons">
          <div *ngIf="lesson.hour == 16">
            {{lesson.customerName}}, {{lesson.hour}}
          </div>
        </div>
      </ng-template>
    </tr>
    <tr>
      <th scope="row">17:00</th>
      <ng-template [ngIf]="lessons?.length > 0">
        <div *ngFor="let lesson of lessons">
          <div *ngIf="lesson.hour == 17">
            {{lesson.customerName}}, {{lesson.hour}}
          </div>
        </div>
      </ng-template>
    </tr>
    <tr>
      <th scope="row">18:00</th>
      <ng-template [ngIf]="lessons?.length > 0">
        <div *ngFor="let lesson of lessons">
          <div *ngIf="lesson.hour == 18">
            {{lesson.customerName}}, {{lesson.hour}}
          </div>
        </div>
      </ng-template>
    </tr>
    <tr>
      <th scope="row">19:00</th>
      <ng-template [ngIf]="lessons?.length > 0">
        <div *ngFor="let lesson of lessons">
          <div *ngIf="lesson.hour == 19">
            {{lesson.customerName}}, {{lesson.hour}}
          </div>
        </div>
      </ng-template>
    </tr>
    </tbody>
  </table>
</div>
